@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo');

.InformationWrapper {
	width: 100%;
	background: url('../../assets/img/image_1515744528644_2500.jpg');
	background-attachment: scroll;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
}

.InformationBackground {
	position: absolute;
	width: 100%;
	height: 868px;
	background-color: black;
	background-size: cover;
	opacity: 0.4;
}

.Information {
	position: relative;
}

.InformationSpace {
	height: 100px;
}

.InformationTitle {
	font-family: 'Nanum Myeongjo', serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.40px;
	color: white;
	padding: 16px;
}

.InformationContent {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 15px;
	letter-spacing: 0.45px;
	line-height: 30px;
	color: white;
	padding: 16px;
}