@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

.HeaderWrapper {
	height: 400px;
	background-image: url("../../assets/img/KakaoTalk_20190309_140045131.png");
	background-attachment: scroll;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
	display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderBackground {
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	background-size: cover;
	opacity: 0.4;
}

.Header {
	position: relative;
	vertical-align: middle;
	font-family: EB Garamond, serif !important;
    font-weight: 400;
	font-size: 52px;
	color: white;
	text-align: center;
	letter-spacing: 0em;
	line-height: 1.15em;
	padding: 16px;
}